@page
@model VeerasContosoCrafts.WebSite.Pages.NomiModel
@{
    ViewData["Title"] = "Nomi Noki";
}
<div class="text-center">

</div>
<content>
    <!--<h1 class="display-4">Hello everyone! <br>I am Veera Tommila</h1>-->
    <h1 class="display-4">My cartoon drawing</h1>
    <!--<p>This is a webpage done with <a href="https://dotnet.microsoft.com/learn/aspnet">ASP.NET</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <p>
        I have drawn since I was a 2-year-old child for as long as I can remember.
        My first drawings were just plain baby bumps. I even remember myself when at the age of 2-3 I squandered on the walls of my own room before I learned to draw clear characters. My first decent drawing was reportedly a family of cats I drew on a blackboard waiting room at Aurora Hospital at the same age. As a child, I drew a lot of animal characters; as an orchard, especially dolphins and whales. As a schoolboy, I started drawing human figures as well. Some of my human characters aren’t human-looking at all. As an example, the characters in my comic book "Nomi to Sini Noki no hanashi". The name of the comic book means the story of Nomi Noki and Sini Noki.
    </p>
    <br>
    <br>
    <!--<div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/pic/Sivu_1_tekstattu.png" target="_blank">
                    <img src="~/pic/Sivu_1_tekstattu.png" alt="The page no. 1." title="The page no. 1 of Nomi to Sini Noki no hanashi." , style="width:100%">
                    <div>
                        <p> </p>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/pic/Sivu_50.png" target="_blank">
                    <img src="~/pic/Sivu_50.png" alt="The page no. 50." title="The page no. 50 of Nomi to Sini Noki no hanashi." , style="width:100%">
                </a>
            </div>
        </div>
    </div>-->
    <div class="row" id="gallery">
        <div class="col-12 col-sm-6 col-lg-3">
            <!--<img src="~/pic/Sivu_1_tekstattu.png" alt="The page no. 1." title="The page no. 1 of Nomi to Sini Noki no hanashi." , style="width:100%">-->
            <img class="w-100" src="/pic/Sivu_1_tekstattu.png">
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <!--<img src="~/pic/Sivu_50.png" alt="The page no. 50." title="The page no. 1 of Nomi to Sini Noki no hanashi." , style="width:100%">-->
            <img class="w-100" src="/pic/Sivu_50.png">
        </div>
        
        <!--<div class="col-12 col-sm-6 col-lg-3">
            <img src="~/pic/Sivu_1_tekstattu.png" alt="The page no. 1." title="The page no. 1 of Nomi to Sini Noki no hanashi." , style="width:100%">
            <img class="w-100" src="/pic/Sivu_1_tekstattu.png">
        </div>-->
    </div>
</content>