@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

</div>
<content>
    <!--<h1 class="display-4">Hello everyone! <br>I am Veera Tommila</h1>-->
    <h1 class="display-4">Veera Tommila</h1>
    <!--<p>This is a webpage done with <a href="https://dotnet.microsoft.com/learn/aspnet">ASP.NET</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    
        Engineer of information technology
        <br>Graduated from: Häme University of Applied Sciences, HAMK
        <br>Date of birth: 09/16/1992
        <br>Place of birth: Helsinki
        <br>
        <br>
        <img src="~/pic/Veera_Tommilan_CV_kuva_800x1000.jpg" alt="Veera Tommila" title="This is me, Veera" height="100" width="80" />
        
    
</content>