@page
@model IndexModel
@{
    ViewData["Title"] = "Info";
}

<div class="text-center">
    <content>
        <p>
            Himalajankatu 5<br>
            65100 Vaasa
        </p>
        <br>
        <p>
            Tel. +358 400 736 454<br>
            e-mail: veera.tommila@gmail.com
        </p>
        <br>
        <p>My portfolios: <a href="https://veeratommila.wordpress.com/">veeratommila.wordpress.com</a></p>
        <br>
        <img src="../pic/Kotikartta.png" class="img-fluid" alt="Place" title="Place" height = "auto" width= "auto">
    </content>
</div>
