@page
@model VeerasContosoCrafts.WebSite.Pages.NomiModel
@{
    ViewData["Title"] = "Nomi Noki";
}
<div class="text-center">

</div>
<content>
    <!--<h1 class="display-4">Hello everyone! <br>I am Veera Tommila</h1>-->
    <h1 class="display-4">Nomi Noki</h1>
    <!--<p>This is a webpage done with <a href="https://dotnet.microsoft.com/learn/aspnet">ASP.NET</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    Cartoon character.
    <br>A cartoon character of mine.
    <br>Date of birth: 09/16/2004
    <br>Place of birth: City of Hitachu
    <br>
    <br>
    <img src="~/pic/Nomi_thumb.png" alt="Nomi Noki" title="Nomi Noki" class="img-fluid" height="250" width="250">
    <br>

</content>