@page
@model VeerasContosoCrafts.WebSite.Pages.My_stuffModel
@{
    ViewData["Title"] = "My stuff";
}
<div class="text-center">
    <content>
        <p>My stuff coming here.</p>
        
        <table summary="Cartoon characters">
            <tr>
                <td><a href="~/pic/Nomi.png"><img src="~/pic/Nomi_thumb.png" alt="Nomi Noki" title ="Nomi Noki" class="img-fluid" height="250" width="250"></a>
                <td><a href="~/pic/Sini.png"><img src="~/pic/Sini_thumb.png" alt="Sini Noki" title ="Sini Noki" class="img-fluid" height="250" width="250"></a>
            </tr>
        </table>       

    </content>
</div>