@page
@model VeerasContosoCrafts.WebSite.Pages.My_stuffModel
@{
    ViewData["Title"] = "My stuff";
}
<div class="text-center">
    <content>
        <p>My products and stuff comes here.</p>

        <!--<table summary="Cartoon characters">
            <tr>
                <td><a href="~/pic/Nomi.png"><img src="~/pic/Nomi_thumb.png" alt="Nomi Noki" title="Nomi Noki" class="img-fluid" height="250" width="250"></a>
                <td><a href="~/pic/Sini.png"><img src="~/pic/Sini_thumb.png" alt="Sini Noki" title="Sini Noki" class="img-fluid" height="250" width="250"></a>
                <td><a href="~/pic/Queenwhalemon_autograhped-01.png"><img src="~/pic/Queenwhalemon_autograhped_thumb.png" alt="Queenwhalemon" title="Queenwhalemon" class="img-fluid" height="182" width="250"></a>

            </tr>
        </table>-->
        <!--<div class="responsive">
            <div class="gallery">
                <a target="_blank" href="~/pic/Nomi.png">
                    <img src="~/pic/Nomi_thumb.png" alt="Nomi Noki" width="250" height="auto">
                </a>
                <div class="desc">Nomi Noki, a cartoon character of mine.</div>
            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="~/pic/Sini.png">
                    <img src="~/pic/Sini_thumb.png" alt="Sini Noki" width="250" height="auto">
                </a>
                <div class="desc">Nomi Noki, a cartoon character of mine.</div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/pic/Nomi.png" target="_blank">
                        <img src="~/pic/Nomi_thumb.png" alt="Nomi Noki" style="width:100%">
                        <div>
                            <p>Nomi Noki, a cartoon character of mine.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/pic/Sini.png" target="_blank">
                        <img src="~/pic/Sini_thumb.png" alt="Sini Noki" style="width:100%">
                        <div>
                            <p>Sini Noki. Nomi's little sister.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/pic/Queenwhalemon_autograhped-01.png" target="_blank">
                        <img src="~/pic/Queenwhalemon_autograhped_thumb.png" alt="Queenwhalemon" style="width:100%">
                        <div>
                            <p>A pigimon whale.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/pic/Archaeopdross_kortti_Archaeopdross_kortti_2.png" target="_blank">
                        <img src="~/pic/Archaeopdross_kortti_2_thumb.png" alt="Queenwhalemon" style="width:100%">
                        <div>
                            <p>A pigimon dragon.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</div>
    </content>
</div>