/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navi {
    white-space: normal;    
    word-break: break-all;
    text-align: left;
}

.nav-link {    
    display: inline-block;    
    /*padding: 0.5rem 1rem;*/
}
.navi ul {
        background-color: rgb(204,102,0);
        width: 100%;
        list-style-type: none;        
        height: auto;
        padding: 0;
    }

.navi ul a:hover {
        color: #006600;
        background-color: #FF961E;
        word-break: break-all;        
    }
    

/* Provide sufficient contrast against white background */

a:link {
    color: #003DAA;
}

a:visited {
    color: #CC0000;
}

a:hover {
    color: #00CC00;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
/*The visuals of the navigation bar.
--------------------------------------------------- */
ul {
    list-style-type: none;
    height: auto;
    padding: 20px;
        
}
ul.Aa {
        list-style-type: circle;        
        text-align:left;
}


/*li.Luettelo1 {
    height: auto;
    text-align:left;
}*/
.container {
    
}

div1 {
    background-color: rgb(204,102,0);       
}

a{
    color: #006600;    
}

/* Sticky footer styles and the typography
-------------------------------------------------- */
html {
  font-size: 14px;
  
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
h1 {
    font-family: Raleway;
    text-align: center;
}
h3 {
    border-left: 5px solid rgba(204,102,8,1.00);
    background-color: rgb(204,102,0);
    color: rgb(255,255,255);
    margin: 0px;
    font-variant-ligatures: none;
}

h4 {
    color: rgb(0,0,0);
    font-variant-ligatures: none;    
    width: 96%;
    max-width: 1000px;
    text-align: left;
    margin: 10px 20px 10px 20px;
}
p {
    font-family: Raleway;
    text-align: justify;
    color:black;
}
table {
    vertical-align: top;
    max-height: 200px;
    max-width: 200px;
    text-align:justify;
}
content {
    margin: 80px 0px 10px 0;
    min-height: 500px;
    background-color: rgba(219,219,219,1.00);
    border: 20px solid rgb(219,219,219);
    color: black;
    display: block;
}

content2 {
    margin: 5px 0px 10px 0;
    min-height: 500px;
    background-color: rgba(219,219,219,1.00);
    border: 20px solid rgb(219,219,219);
    display: block;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-image: url('../pic/Ahvenen_suomut_40.png');
    margin-bottom: 60px;
}
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;  Vertically center the text there 
}*/
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    position: center;
}
/*Image gallery.*/
div.gallery {
    border: 1px solid #ccc;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}